@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.app,
.app_modal {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
    transition: var(--theme-transition);
    display: grid;
}

.content_page {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
}

*[data-hint] {
    position: relative;
}

*[data-hint]:hover:after {
    opacity: 1;
}

*[data-hint]:after {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 100%);
    opacity: 0;
    background-color: var(--bg-color-secondary);
    font: var(--font-s);
    color: var(--secondary-color);
    content: attr(data-hint);
    padding: 4px 8px;
    border-radius: 6px;
    transition: opacity .4s ease-in;
    white-space: nowrap;
}
