.title {
    color: var(--primary-color);
}

.text {
    color: var(--secondary-color);
}

.error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}

.inverted {
    .title {
        color: var(--inverted-primary-color);
    }

    .text {
        color: var(--inverted-secondary-color);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.size_s {
    .title {
        font: var(--font-m);
        font-weight: bold;
    }

    .text {
        font: var(--font-s);
    }
}

.size_m {
    .title {
        font: var(--font-l);
        font-weight: bold;
    }

    .text {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: var(--font-xl);
        font-weight: bold;
    }

    .text {
        font: var(--font-l);
    }
}

.gap4 {
    .title {
        margin-bottom: 4px;
    }
}

.gap8 {
    .title {
        margin-bottom: 8px;
    }
}

.gap16 {
    .title {
        margin-bottom: 16px;
    }
}

.gap24 {
    .title {
        margin-bottom: 24px;
    }
}

.gap32 {
    .title {
        margin-bottom: 32px;
    }
}

@media (max-width: 767px) {
    .size_s {
        .title {
            font: var(--font-m);
            font-weight: bold;
        }

        .text {
            font: var(--font-s);
        }
    }

    .size_m {
        .title {
            font: var(--font-m);
            font-weight: bold;
        }

        .text {
            font: var(--font-s);
        }
    }

    .size_l {
        .title {
            font: var(--font-l);
            font-weight: bold;
        }

        .text {
            font: var(--font-m);
        }
    }
}
