.ProjectCard {
    width: 100%;
    padding: 16px 24px;
    border-radius: 16px;
}

.cover {
    object-fit: cover;
    border-radius: 8px;
}

.content {
    height: 100%;
    padding: 12px;
}

.description {
    align-self: flex-end;
}

.tab {
    background: var(--bg-color);
    text-wrap: nowrap;
    display: inline-block;
}

.tabLink {
    transition: opacity 0.3s ease-in;
    &:hover {
        opacity: 0.8;
    }
}

.imageWrapper {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease-in;

    &:hover {
        transform: scale(1.03);

        .createdAt {
            opacity: 1;
        }

        .type {
            opacity: 1;
        }
    }
}

.createdAt {
    background: var(--bg-color);
    position: absolute;
    top: 8px;
    right: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.type {
    background: var(--bg-color);
    position: absolute;
    top: 8px;
    left: 8px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

@media (max-width: 768px) {
    .ProjectCard {
        padding: 8px 16px;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-row-gap: 12px;
    }

    .title {
        grid-row: 1;
        text-align: center;
        width: 100%;
    }

    .title h2 {
        font: var(--font-m) !important;
        font-weight: bold !important;
    }

    .tab p {
        font: var(--font-s) !important;
    }

    .cover {
        width: 100%;
        grid-row: 2;
    }

    .imageWrapper {
        width: 100%;
    }

    .description {
        text-align: left;
    }

    .technologies {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
    }

    .tabText {
        display: flex;
    }

    .tabLink {
        justify-self: end;
    }

    .tabLink p {
        font: var(--font-m) !important;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 1280px) {
    .cover {
        width: 400px;
        max-height: 250px;
    }
}
