.Button {
    cursor: pointer;
    color: var(--primary-color);
    padding: 5px 10px;
}

.filled {
    background: var(--bg-color-secondary);
    color: var(--primary-color);
    border-radius: 5px;
    box-shadow: 1px 1px 4px 1px ;
}

.clear {
    padding: 0;
    border: 0;
    background: none;
    outline: none;
}

.outlined {

}

.square {

}

.disabled {

}

.size_m {

}

.size_l {

}

.size_xl {

}
