.Button {
    cursor: pointer;
    color: var(--primary-color);
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    transition: var(--theme-transition);
}

.filled {
    background: var(--bg-color-secondary);
    color: var(--primary-color);
    border: none;

    &:hover {
        background: var(--hover-color);
    }
}

.clear {
    padding: 0;
    border: 0;
    background: none;
    outline: none;
}

.outlined {
    border: 1px var(--primary-color) solid;
    background: var(--bg-color);
    color: var(--primary-color);

    &:hover {
        background: var(--hover-color);
    }
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: var(--bg-color-secondary)
}

.square.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}
