@media (max-width: 767px) {
    .grid {
        grid-column: 1;
        grid-row: 3;
        align-self: start;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }
}

@media (min-width: 768px) {
    .grid {
        grid-column: 2;
        align-self: center;
        grid-template-columns: auto;
        justify-content: start;
    }
}