.PostCard {
    border-radius: 16px;
    width: 100%;
    padding: 16px 24px;
}

.container {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease-in;

    &:hover {
        transform: scale(1.03);

        .createdAt {
            opacity: 1;
        }
    }
}

.cover {
    border-radius: 12px;
    object-fit: cover;
    width: 100%;
}

.tab {
    background: var(--bg-color);
}

.createdAt {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.subtitle {
    max-height: 50px;
    text-indent: 35px;
}

.subtitle p {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.description {
    max-height: 150px;
    overflow-y: hidden;
    text-overflow: ellipsis;
}
