.PostCard {
    border-radius: 16px;
    width: 100%;
    padding: 16px 24px;
}

.container {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease-in;

    &:hover {
        transform: scale(1.03);

        .createdAt {
            opacity: 1;
        }
    }
}

.cover {
    border-radius: 12px;
    object-fit: cover;
    width: 100%;
}

.tab {
    background: var(--bg-color);
}

.createdAt {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.subtitle {
    text-indent: 35px;
}

.description {
    max-height: 150px;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.title {
    text-indent: 35px;
}

.link {
    align-self: end;
}

@media (max-width: 767px) {
    .PostCard {
        padding: 4px 12px 8px;
    }

    .title {
        width: 100%;
        text-indent: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cardContainer {
        gap: 4px;
    }

    .link {
        width: 100%;
    }

    .linkBtn {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
