.AppLink {
    padding: 0.3em 0.6em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 500ms;

    &:hover {
        background: var(--hover-color);
    }
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.clear {
    padding: 0;
    border: 0;
    background: inherit;
    outline: none;

    &:hover {
        background: inherit;
    }
}
